.white {
    white-space: pre-wrap;
}

*, *::before, *::after {
    box-sizing: border-box !important;
  }
  
  body {
    margin: 0;
  }
  

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}